modules = ["nodejs-20"]

[[ports]]
localPort = 5001

[[ports]]
localPort = 5002

[workflows]
runButton = "Run Dev Server"

[[workflows.workflow]]
name = "Run Dev Server"
author = 42397960
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev -- --host 0.0.0.0 --port 5001"

[deployment]
run = ["sh", "-c", "npm run preview -- --host 0.0.0.0"]
build = ["sh", "-c", "npm run build"]

[nix]
channel = "stable-24_05"
